doctype html
html
   head
      title Task application
      link(rel='stylesheet' href='sample.css')
      meta(charset='utf-8')
      script(type='text/javascript' src='js/jquery.min.js')
      script(type='text/javascript' src='js/underscore-min.js')
      script(type='text/javascript' src='js/backbone.js')
      script(type='text/javascript' src='js/script.js')
   body
      aside.leftPanel
         div.task
            div.title
      nav
         div.nav.active#task  Задание
         div.nav#about        О Курсе
         div.nav#ratio        Рейтинг
      br
      br
      br
      div.content
